// Fonts
@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC/CormorantSC-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

// Primary colors
$primary-white: #FFFFFF;
$primary-black: #121212;

$primary-light-gray: #DEDEDE;
$primary-dark-gray: #575757;

// Secondary colors
$secondary-white: #FCFCFC;
$secondary-white-hover: rgba(18, 18, 18, 0.05);

$secondary-black: #1A1818;
$secondary-black-hover: rgba(205, 205, 205, 0.05);

$secondary-gray: #9C9C9C;

// Accent colors
$accent-red: #9B4B4B;
$accent-gold: #AB8956;

// Grid parameters
$grid: (
  xxl: (
    max: 2560px,
    min: 1440px,
    columns: 12,
    span: 4,
    gap-column: 32px,
    gap-row: 32px,
    margin: 100px,
    container: 1240px
  ),
  xl: (
    max: 1439.99px,
    min: 1280px,
    columns: 12,
    span: 4,
    gap-column: 32px,
    gap-row: 32px,
    margin: 20px,
    container: 1240px
  ),
  md: (
    max: 1279.99px,
    min: 768px,
    columns: 8,
    span: 4,
    gap-column: 24px,
    gap-row: 24px,
    margin: 20px,
    container: 728px
  ),
  xs: (
    max: 767.99px,
    min: 320px,
    columns: 6,
    span: 6,
    gap-column: 5px,
    gap-row: 24px,
    margin: 20px,
    container: 280px
  )
);

// The spacer set is based on a minimum step of 4px
$spacer: 4px;

// Icons
$icon-size: 20px;

// Mixins for adaptive
@mixin breakpoint($point) {
  $min-width: map-get($grid, $point, min);
  $max-width: map-get($grid, $point, max);
  
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin set-adaptive($adaptive, $property: null, $attribute: null) {
  @each $breakpoint, $settings in $adaptive {
    @include breakpoint($breakpoint) {
      @if $property and $attribute {
        #{$property}: map-get($settings, $attribute);
      }
    }
  }
}

// Mixins for grid
@mixin grid {
  display: grid;

  @each $breakpoint, $settings in $grid {
    @include breakpoint($breakpoint) {
      grid-template-columns: repeat(map-get($settings, columns), 1fr);
    }
  }
  // @include set-adaptive-dynamic($grid) {
  //   grid-template-columns: repeat(map-get($settings, columns), 1fr);
  // }
  @include set-adaptive($grid, grid-column-gap, gap-column);
  @include set-adaptive($grid, grid-row-gap, gap-row);
}

@mixin grid-block($start: 0, $span: 0) {
  @each $breakpoint, $settings in $grid {
    @include breakpoint($breakpoint) {
      $columns-merge: map-get($settings, span);
      @if $span != 0 {
        $columns-merge: $span;
      }

      @if $start != 0 {
        grid-column: $start / span $columns-merge;
      }
      @else {
        grid-column: span $columns-merge;
      }
    }
  }
}

// Mixins for fonts
@mixin cormorant-font($size: 16px) {
  font-family: 'Cormorant SC', serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: $size;
}

@mixin inter-font($size: 14px, $weight: 500) {
  font-family: 'Inter', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin icon {
  width: $icon-size;
  height: $icon-size;
}

// Classes
.border-rounded {
  border-radius: $spacer;
}

.border-circle {
  border-radius: 50%;
}