@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC/CormorantSC-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.otf') format('opentype');
    font-style: normal;
}

// Primary colors
$primary-black: #121212;

$primary-light-gray: #DEDEDE;
$primary-dark-gray: #575757;

// Secondary colors
$secondary-black: #1A1818;
$secondary-gray: #9C9C9C;

// Accent colors
$accent-gold: #AB8956;

$columns: 12;
$gutter: 32px;
$margin: 100px;
$container-width: 1240px;

$spacer: 4px;