@import './variables';
@import '../../widgets/card/styles/card.module';
@import '../../widgets/gallery/styles/gallery.module';
@import '../../widgets/header/styles/header.module';
@import '../../widgets/search/styles/search.module';
@import '../../widgets/button/styles/button.module';
@import '../../widgets/input/styles/input.module';
@import '../../widgets/filter/styles/filter.module';
@import '../../widgets/pagination/styles/pagination.module';
@import '../../shared/theme/styles/theme.module';
@import '../../shared/adaptive/styles/adaptive.module';
@import '../../widgets/select/styles/select.module';

body {
  background-color: $primary-black;
  margin: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  @include set-adaptive($grid, max-width, container);
  @include set-adaptive($grid, padding-left, margin);
  @include set-adaptive($grid, padding-right, margin);
}

.border-rounded {
  border-radius: $spacer;
}

.border-circle {
  border-radius: 50%;
}