@import './variables';
@import '../../widgets/card/styles/card.module';
@import '../../widgets/gallery/styles/gallery.module';
@import '../../widgets/header/styles/header.module';
@import '../../widgets/search/styles/search.module';
@import '../../widgets/button/styles/button.module';
@import '../../widgets/input/styles/input.module';
@import '../../widgets/filter/styles/filter.module';
@import '../../widgets/pagination/styles/pagination.module';

body {
  background-color: $primary-black;
  margin: 0;
}

.container {
  position: relative;
  @each $breakpoint in (xxl, xl, md, xs) {
    @include breakpoint($breakpoint) {
      max-width: map-get(map-get($grid, $breakpoint), container);
      padding: 0 map-get(map-get($grid, $breakpoint), margin);
      margin: 0 auto;
    }
  }
}