@import './variables';
@import '../../widgets/card/styles/card.module';
@import '../../widgets/gallery/styles/gallery.module';
@import '../../widgets/header/styles/header.module';
@import '../../widgets/search/styles/search.module';
@import '../../widgets/button/styles/button.module';
@import '../../widgets/input/styles/input.module';

body {
  background-color: $primary-black;
  margin: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $margin;
}