@import '../../../app/styles/variables';

@mixin background($primary, $primary-gray, $secondary, $secondary-hover, $accent) {
  background-color: $primary;

  .background {
    &-primary { background-color: $primary; }
    &-primary-gray { background-color: $primary-gray; }
    &-secondary { 
      background-color: $secondary;
      &:hover { background-color: $secondary-hover; }
    }
    &-accent { background-color: $accent; }
    &-hover {
      &:hover { background-color: $secondary; }
    }
    &-none { background: none; }
  }
}

@mixin color($primary, $primary-gray, $primary-text, $secondary, $accent) {
  .color {
    &-primary { color: $primary; }
    &-primary-gray { color: $primary-gray; }
    &-primary-text { color: $primary-text; }
    &-secondary { color: $secondary; }
    &-accent { color: $accent; }
  }
}

@mixin outline-focus($outline-color) {
  .outline-focus {
    &:focus-within {
      outline: 1px solid $outline-color;
    }
  }
}

@mixin button($default, $disable, $hover) {
  .button {
    &-default { 
      color: $default;
      &:hover { color: $hover; }
    }
    &-disable { color: $disable; }
  }
}

@mixin border-left($border-color) {
  .border-left {
    border-left: 2px solid $border-color;
  }
}

.dark {
  @include background($primary-black, $primary-light-gray, $secondary-black, $secondary-black-hover, $accent-gold);
  @include color($primary-black, $primary-light-gray, $primary-light-gray, $secondary-black, $accent-gold);
  @include outline-focus($primary-light-gray);
  @include button($primary-light-gray, $primary-dark-gray, $primary-white);
  @include border-left($accent-gold);
}

.light {
  @include background($primary-white, $primary-dark-gray, $secondary-white, $secondary-white-hover, $accent-red);
  @include color($primary-white, $primary-dark-gray, $primary-black, $secondary-white, $accent-red);
  @include outline-focus($primary-dark-gray);
  @include button($primary-dark-gray, $secondary-gray, $primary-black);
  @include border-left($accent-red);
}
