@import '../../../app/styles/variables';

$start-column: (
  xxl: 9,
  xl: 9,
  md: 5,
  xs: 1
);

.search {
  padding: $spacer * 6 0;
  @include grid;

  .interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: $spacer * 4;
    @each $breakpoint, $settings in $grid {
      @include breakpoint($breakpoint) {
        @include grid-block($start: map-get($start-column, $breakpoint));
      }
    }
  }
}