@import '../../../app/styles/variables';
@import '../../../shared/adaptive/styles/adaptive.module';

$adaptive: (
  xxl: (start-column: 9),
  xl: (start-column: 9),
  md: (start-column: 5),
  xs: (start-column: 1),
);

.search {
  padding: $spacer * 6 0;
  @include grid;

  .interaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: $spacer * 4;
    @include set-adaptive-mixin($adaptive, grid-block, start-column);
  }
}