@import '../../../app/styles/variables';
@import '../../../shared/adaptive/styles/adaptive.module';

@mixin button-standart {
  border: none;
  cursor: pointer;
}

.button-default {
  background: transparent;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  @include button-standart;
  @include inter-font($size: 12px, $weight: 700);
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  @include button-standart;
}