@import '../../../app/styles/variables';
@import '../../../shared/adaptive/styles/adaptive.module';

.header {
  padding: $spacer * 6 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 91px;
    height: 20px;
  }
}
