@import '../../../app/styles/variables';

$adaptive: (
  xxl: (
    card: 260px,
    interaction: 82px,
    offset: $spacer * 4,
    gap: $spacer * 2,
    visibility: none,
  ),
  xl: (
    card: 260px,
    interaction: 82px,
    offset: $spacer * 4,
    gap: $spacer * 2,
    visibility: none,
  ),
  md: (
    card: 220px,
    interaction: 66px,
    offset: $spacer * 4,
    gap: $spacer * 2,
    visibility: inline,
  ),
  xs: (
    card: 185px,
    interaction: 45px,
    offset: $spacer * 2,
    gap: $spacer * 1,
    visibility: inline,
  )
);

.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  @include set-adaptive($adaptive, height, card);
  @include grid-block;

  .image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
  }

  &:hover .image {
    transform: scale(1.05);
  }

  .interaction {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    @include set-adaptive($adaptive, height, interaction);

    .subscription {
      width: 100%;
      height: 100%;
      @each $breakpoint, $settings in $grid {
        @include breakpoint($breakpoint) {
          padding: map-get($adaptive, $breakpoint, offset) 0;
        }
      }

      .block {
        display: flex;
        flex-direction: column;
        @each $breakpoint, $settings in $grid {
          @include breakpoint($breakpoint) {
            padding: 0 map-get($adaptive, $breakpoint, offset);
          }
        }
        @include set-adaptive($adaptive, gap, gap);

        .title {
          @each $breakpoint, $settings in $grid {
            @include breakpoint($breakpoint) {
              $size: 16px;
              @if $breakpoint == xs {
                $size: 12px;
              }
              @include cormorant-font($size);
            }
          }
        }
      
        .year {
          @each $breakpoint, $settings in $grid {
            @include breakpoint($breakpoint) {
              $size: 12px;
              @if $breakpoint == xs {
                $size: 8px;
              }
              @include inter-font($size, 700);
            }
          }
        }
      }
    }

    .icon {
      width: 16px;
      height: 16px;
      margin: auto $spacer * 2 auto 2px;
      @include set-adaptive($adaptive, display, visibility);
    }
  }
}