@import '../../../app/styles/variables';

$card-height: (
  xxl: 260px,
  xl: 260px,
  md: 220px,
  xs: 185px
);

$visibility: (
  xxl: none,
  xl: none,
  md: inline,
  xs: inline
);

.card {
  position: relative;
  color: $secondary-gray;
  cursor: pointer;
  overflow: hidden;
  @include grid-block;

  .image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
    @each $breakpoint, $settings in $grid {
      @include breakpoint($breakpoint) {
        height: map-get($card-height, $breakpoint);
      }
    }
  }

  &:hover .image {
    transform: scale(1.05);
  }

  .interaction {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $accent-gold;
    display: flex;
    flex-direction: row;

    .subscription {
      background-color: $primary-black;
      padding: $spacer * 4;
      flex-direction: column;
      justify-content: flex-end;
      border-left: 2px solid $accent-gold;

      .title {
        color: $primary-light-gray;
        @each $breakpoint, $settings in $grid {
          @include breakpoint($breakpoint) {
            $size: 16px;
            @if $breakpoint == xs {
              $size: 12px;
            }
            @include cormorant-font($size);
          }
        }
      }
    
      .year {
        color: $accent-gold;
        @each $breakpoint, $settings in $grid {
          @include breakpoint($breakpoint) {
            $size: 12px;
            @if $breakpoint == xs {
              $size: 8px;
            }
            @include inter-font($size, 700);
          }
        }
      }
    }

    .icon {
      width: 16px;
      height: 16px;
      margin: auto $spacer * 2 auto 2px;
      @each $breakpoint, $settings in $grid {
        @include breakpoint($breakpoint) {
          display: map-get($visibility, $breakpoint);
        }
      }
    }
  }
}